<%- include('header'); -%>
<div class="hero-div">
  <div>
    <h1 class="text-center hero-title">Oops! We Could Not Find That Page</h1>
    <h3 class="text-center hero-subtitle">Please Try Again Later</h3>
  </div>
</div>

<div class="post-contatiner">
  <a class="btn-link" href="/"
    ><button class="btn ch-btn">Return to Home Page</button></a
  >
</div>
<%- include('footer'); -%>
