body {
  font: 16px "Cabin", sans-serif;
  background: #fff;
  color: #3c403d;
}

.container-fluid {
  padding: 0;
}

.nav-bg {
  text-transform: lowercase;
  font-size: 1.2em;
}

.nav-bg a {
  color: #3c403d;
  transition: all 0.2s ease-in-out;
}

.nav-bg a:hover {
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}

.navbar-brand {
  font-size: 1.4em;
}

.navbar-nav {
  width: 100%;
}

.nav-right {
  margin-left: auto;
  display: flex;
}

@media (min-width: 992px){
  .nav-link-right {
    margin-left: auto;
  }
}

.user-greeting {
  display: flex;
}

@media (max-width: 991px){
  .user-greeting {
    display: none;
  }
}

.post-contatiner {
  max-width: 600px;
  margin: auto;
}

.post {
  margin-bottom: 40px;
  background: #DADED4;
  padding: 30px;
  border-radius: 5px;
}

.hero-div {
  width: 100%;
  margin: auto;
  background: #DADED4;
  color: #39603D;
  min-height: 250px;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;

}

.hero-title {
  font-size: 52px;
}

.hero-subtitle {
  font-size: 28px;
}

.ch-form-wrapper {
  margin: auto;
  /* background: #DADED4; */
  max-width: 600px;
  border-radius: 5px;
}

.ch-form {
  padding: 30px;
}

.ch-btn {
  background: #39603D;
  margin: auto;
  color: #fff;
  display: block;
  transition: all 0.2s ease-in-out;
}

.ch-btn:hover{
  color: #fff;
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}

.delete-btn{
  background: indianred;
}

.btn-link {
  text-decoration: none;
  color: #3c403d;
}

.message {
  padding: 15px 30px;
  margin: 0;
  font-weight: 700;
  color: indianred;
}

.info {
  color: cornflowerblue;
}

.error {
  color: indianred;
}

.green {
  color: #39603D
}
/* 
background: #E8CEBF
primary accent: #226150
secondary accent: #DDAF94
text: #4F4846
white: #FDF8F5
*/
